.navbar-default {
    background-color: white!important;
    border: none!important;
}

.navbar-brand img {
  width: 80px;
}

.dropdown-menu {
  border: none!important;
}

.dropdown-menu > li a {
  color: grey!important;
  line-height: 50px!important;
}

#btn {
  margin-top: 10px;
  border-radius: 50px;
  border: none;
  padding: 5px 10px; 
  background-color: #EB008D;
  color: white;
}
